p{
    font-size: 1rem !important;
}

.dropdown-menu{
    width: 300px;
}

#cantidadNoti{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 1rem;
}
body{
    background-color: #f0f2f5;
}
.bg-facebook{
    background-color: #3b5998 ;
  }